.tableFixHead {
    overflow: auto;
    height: 600px;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

thead {
    text-align: center;
    background-color:lightgray;
}

.titulo-tabela-movel {
    background-color: lightgray;
}